/* BEGIN Bold */
@font-face {
    font-family: 'IranSansBold';
    src: url('https://cdn.jsdelivr.net/gh/mgmoghaddam/irsans/fonts/IranianSansBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
/* END Bold */

/* BEGIN Regular */
@font-face {
    font-family: 'IranSans';
    src: url('https://cdn.jsdelivr.net/gh/mgmoghaddam/irsans/fonts/IranianSansRegular.ttf') format('truetype'),
         url('https://cdn.jsdelivr.net/gh/mgmoghaddam/irsans/fonts/IRANSans-web.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* END Regular */
